@import "~bootstrap/dist/css/bootstrap.min.css";
body,
html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#excuse {
  font-size: 30px;
  text-align: center;
}
